streamlit==1.52.1
pandas==2.2.3
pdfplumber==0.11.4
python-docx==1.1.2
spacy==3.8.2
openpyxl==3.1.5
Pillow>=9.0.0
pdfminer.six>=20221105
pypdfium2>=4.11.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
